.section2
{
    width: 100%;
    height: 573px;
    background-image: url('../img/section-2-bg.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 121px;
}